.h1 {
  font-size: 124px;
  line-height: 1.2;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
  padding-top: 106px;
}

.header {
  width: 100%;
}

.main {
  padding: 1.5rem;
  align-items: center;
}

.video {
  width: 100%;
}
