.h1 {
  font-size: 124px;
  line-height: 1.2;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #050a15;
}

.header {
  width: 100%;
}

.nav {
  display: flex;
  gap: 24px;
  padding: 32px;
  width: 100%;
  justify-content: center;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav img {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .main {
    padding: 32px;
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
