.carousel {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  padding-top: 40px;
  margin-top: -40px;
  mask-image: linear-gradient(
    to right,
    transparent,
    var(--background) 15%,
    var(--background) 85%,
    transparent
  );

  > * {
    flex: 0 0 100%;
  }

  &:hover .group {
    animation-play-state: paused;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 40s linear infinite;
}

.item {
  display: flex;
  width: 100%;
  color: white;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  transition: 0.3s ease-out;
  &:hover {
    transform: scale(1.25);
  }

  &:hover .title {
    opacity: 1;

    transform: translateY(-35px);
  }
}

.title {
  transition: 0.1s 0.3s ease-out;
  position: absolute;
  opacity: 0;
  width: 200px;
  pointer-events: none;
}
